@import '../../styles/mixins';

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    border: 0.2px solid transparent;
    border-radius: 12px;
    padding: 0 15px;
    width: 100%;
    text-decoration: none;
    color: #fff;

    &:hover {
        border: 0.2px solid #fff7;
        border-radius: 12px;
        color: #149eca;
    }

    &.active {
        border: 0.2px solid #fff7;
        border-radius: 12px;
    }

    &__name {
        margin: 15px 0;
        border-radius: 15px;
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 20px;
    }

    &__button {
        @include link-button;
    }
}
