@import "../../styles/mixins"
    
.card-page
    &__container
        display: flex
        align-items: center
        justify-content: space-around
        padding: 20px
    &__title
        font-size: 32px
        color: #149eca
        letter-spacing: 1.2px
        &.completed
            color: yellow
    &__header
        display: flex
        justify-content: space-around
        align-items: center
        padding: 25px 150px
        height: fit-content
        &__link
            @include link-button
        &__button
            padding: 10px
            @include white-button
    &__label
        display: flex
        justify-content: center
        align-items: center
        gap: 10px
        font-size: 20px
        user-select: none
    &__checkbox
        width: 20px
        height: 30px