@import '../../styles/mixins';

.sidebar-form {
    display: grid;
    gap: 25px;

    &__title {
        text-align: center;
        font-size: 20px;
    }

    &__input {
        @include input;
    }

    &.error {
        border: 3px solid red;
    }

    &__button {
        @include blue-button;

        display: block;
        margin: 0 auto;
    }
}
