/* stylelint-disable-next-line import-notation */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #080f25;
    color: #fff;
}

.error-title {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.form-error {
    text-align: center;
    color: red;
}

.container {
    // background-color: #1c1e21;
    // background-color: #292d35;
    margin: 0 auto;
    padding: 25px;
    width: 1300px;
    height: 100%;
}

.app {
    display: flex;
}
