@import "../../styles/mixins"
    
.board-page
    display: grid
    grid-template-rows: 100px min-content
    position: fixed
    top: 0
    right: 0
    width: 70%
    &__header
        display: flex
        justify-content: space-around
        align-items: center
        padding: 0 100px
        &__title
            font-size: 32px
            letter-spacing: 1.2px
            color: #149eca
        &__button
            @include white-button