@import "../../styles/mixins"
    
.word-list-item
    display: flex
    align-items: center
    justify-content: space-between
    border: 1px solid #006880
    border-radius: 12px
    padding: 25px 50px
    margin-top: 25px
    &__words
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
    &__word
        width: 325px
        height: fit-content
        font-size: 22px
        text-align: center
    &__buttons
        margin-left: 15px
        width: 200px
        display: flex
        justify-content: space-between
    &__button
        @include blue-button
        margin-left: 15px
    &__input
        width: 100%
        font-size: 22px
        padding: 5px 10px
        border-radius: 12px
        border: 2px solid black
        outline: none
        &:focus
            border: 2px solid #006880
        

.hidden
    display: none